body {
          font-family: "Karla", sans-serif;
         
} 

h1 {
          color: #000000;
          font-size: 24px;
          font-weight: 100;
          line-height: 28px;
          margin-bottom: 0;
}

ul {
          margin: 0;
          padding: 0;
}

li {
          list-style: none;
          margin: 0;
          padding: 0;
          color: #000;
          font-size: 16px;
          font-weight: 100;
          line-height: 19px;
}

li:first-letter {
          text-transform: capitalize;
}


.weather-app-wrapper {
          max-width: 700px;
          margin: 30px auto;
          background-image: url("../images/pink-cloudy-sky.jpg");
          background-repeat: no-repeat;
          background-size:cover;
          
}

.weather-app {
          padding: 20px;
          border: 1px solid #dadde1;
          border-radius: 5px; 
}

.overview {
          margin-bottom: 20px;
          margin: 20px;
          padding: 10px 15px;
          color: #000000;       
}

.weather-temperature img {
          margin-right: 5px;
          height: 64px;
          width: 64px;
}

.weather-temperature strong {
          color:#022B3A;
          font-size: 64px;
          line-height: 1;
          font-weight: 400;
}

.weather-temperature .units {
          position: relative;
          font-size: 16px;
          top: -34px;
          color:#000000;
}

.weather-temperature .active {
          color: rgb(33, 33, 33);
          cursor: default;
}

.weather-temperature .active:hover {
          text-decoration: none;
}

.weather-forecast {
          margin-top: 20px;
          text-align: center;
          color: #000;
}

.weather-forecast-date {
          font-size: 18px;
}

.weather-forecast-temperature-min {
          opacity: 0.5;
}

.weather-forecast-temperatures {
          font-size: 14px;
}

#author {
          text-align: center;
}

#image-background {
    text-align: center;
    font-size: 12px;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #10111160;
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  
