.container {
          background: #c89f9c;
          font-family: "Martel", serif;
          width: auto;
          border: 5px outset rgba(221, 190, 169, 0.7);
          border-radius: 20px;
          width: 950px;
}

h1 {
          font-family: "Karla", sans-serif;
          font-size: 80px;
          text-align: center;
          display: block;
          background-color: #eee2df;
          border-radius: 35px;
}

h2,
h4,
h5 {
          text-align: center;
}

h3 {
          font-family: "Karla", sans-serif;
          font-size: 25px;
          text-align: center;
          display: block;
}

h5 {
          font-family: "Karla", sans-serif;
          font-size: 18px;
          display: block;
          padding: 6px;
}

.search {
          font-family: "Karla", sans-serif;
          font-weight: 700px;
          font-size: 14px;
          text-transform: uppercase;
          position: static;
          top: 10px;
          padding: 10px 15px;
          margin: auto 0;
          border-radius: 8px;
          color:#c89f9c;
          background-color: #eee2df;
          border-radius: 14px;
}

form {
          display: block;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
}

.col-2 {
          text-align: center;
          margin: 0 auto;
          padding: 6px;
          background-color: #eed7c5;
          border-radius: 14px;
          border-color: #b36a5e;
}

.emoji {
          text-align: left;
          color: #cb997e;
          font-size: 24px;
}

.icon-weather {
          text-align: center;
          color: #eee2df;
          display: block;
          font-size: 50px;
}

.grades-units {
          display: block;
          text-align: center;
}

#date {
          display: block;
          text-align: center;
          font-family: "Karla", sans-serif;
          font-size: 20px;
}

.temperature {
          display: block;
          text-align: center;
          font-family: "Karla", sans-serif;
}

#weatherData {
          text-align: center;
          display: block;
          font-family: "Karla", sans-serif;
          font-size: 56px;
}