.container {
          background: #c89f9c;
          font-family: "Martel", serif;
          width: auto;
          border: 5px outset rgba(221, 190, 169, 0.7);
          border-radius: 20px;
          width: 950px;
}

h1 {
          font-family: "Karla", sans-serif;
          font-size: 80px;
          text-align: center;
          display: block;
          background-color: #eee2df;
          border-radius: 35px;
}

h3 {
          font-family: "Karla", sans-serif;
          font-size: 25px;
          text-align: center;
          display: block;
}

h5 {
          font-family: "Karla", sans-serif;
          font-size: 18px;
          display: block;
          padding: 6px;
}

.searchButton {
          font-family: "Karla", sans-serif;
          font-weight: 700px;
          font-size: 14px;
          text-transform: uppercase;
          position: static;
          top: 10px;
          padding: 10px 15px;
          margin: auto 0;
          border-radius: 8px;
}

form {
          display: block;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
}

.grades-units {
          display: block;
          text-align: center;
}

#date {
          display: block;
          text-align: center;
          font-family: "Karla", sans-serif;
          font-size: 20px;
}
